:root {
  --bg-color-1: hsl(0, 0%, 100%);
  --bg-color-2: hsl(276, 55%, 52%);
  --bg-color-3: hsl(271, 36%, 24%);
  --bg-color-4: hsl(289, 100%, 72%);

  --text-color-1: hsl(276, 100%, 81%);
  --text-color-2: hsl(276, 55%, 52%);
  --text-color-3: hsl(271, 15%, 43%);
  --text-color-4: hsl(206, 6%, 79%);
  --text-color-5: hsl(271, 36%, 24%);
  --text-color-6: hsl(270, 7%, 64%);

  --color-gradient: hsl(293, 100%, 63%) to hsl(264, 100%, 61%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-image: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 40% 80%;
  transition: all .3s;
}
