.container {
  display: flex;
  align-items: center;
  gap: 10rem;
  justify-content: space-between;

  margin: 15rem 15rem;
}

.device-container {
  padding: 1rem;
  background-color: var(--bg-color-1);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 2rem;
}

.product-text-box {
  width: 100%;
}

.heading-bar {
  height: 2.5rem;
  width: 10%;
  border-radius: 1rem;
  display: inline-block;
  background-color: var(--bg-color-1);
  position: absolute;
  top: 15rem;
  left: 30rem;
  z-index: 1;
  transform: translateX(-0.5rem);
  transform: translateY(-0.3rem);
}

.user-box {
  background-image: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  padding: 2rem 1rem 1rem;

  display: flex;
  align-items: center;

  position: relative;
}

.backward-arrow {
  margin-right: 1rem;
}

.user-info {
  margin-right: auto;
}

.user-image {
  height: 4rem;
  width: 4rem;
  display: block;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.username {
  color: var(--bg-color-1);
  font-weight: 700;
}

.light-text {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--text-color-1);
}

.chat-container {
  background-color: hsl(210, 33%, 95%);
  padding: 1rem;
  position: relative;
}

.first-chat-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left-message {
  background-color: var(--text-color-1);
  color: var(--text-color-2);
  width: 80%;
  border-radius: 1rem;
  padding: 1rem;
}

.second-chat-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.image-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dog-image {
  height: 5rem;
  width: 5rem;
  display: block;
  border-radius: 1rem;
}

.right-chat-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.right-message {
  background-color: var(--bg-color-1);
  color: var(--text-color-5);
  width: 80%;
  padding: 1rem;
  border-radius: 1rem;
  text-align: left;
}

.pricing-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pricing {
  background-image: linear-gradient(
    to left,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  padding: 2rem 1rem;
  border-radius: 2rem 1rem 1rem 0;
  width: 90%;

  display: flex;
  align-items: center;
}

.radio-button {
  margin-right: 2rem;
}

.timespan {
  margin-right: auto;
  font-weight: 700;
}

.price {
  color: var(--bg-color-1);
  font-weight: 700;
}

.input {
  background-color: var(--bg-color-1);
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: var(--text-color-4);
  border: none;
  outline: none;
}

.input-dot {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--bg-color-3);
  position: absolute;
  bottom: 3.8rem;
  right: 10rem;
  transform: translateY(-25rem);
  transform: translateX(8rem);
}

.heading-main {
  color: var(--text-color-5);
  font-weight: 700;
}

.text-desc {
  color: var(--text-color-4);
  font-weight: 400;
}
